<div style='display: flex; height: 100%'>
  <ngx-hex-input #hexEditor style='height: 100%; width: 50%;' [value]='data | async'></ngx-hex-input>
  <div style='width: 50%; height: 100%;'>
    <div style='display: flex; padding: 1em; flex-direction: column'>
      <input type='text' #dataSize placeholder='Data Size'>
      <button (click)='generateNewData(dataSize.value)'>Generate New Data</button>
    </div>

    <!-- <div style='border: 1px solid; display: flex; flex-direction: column; margin: 1em'>
      {{ hexEditor.value.length }}
    </div> -->
  </div>
</div>
